@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
.third-design {
  color: #e47900;
}

:root {
  font-size: 16px;
  color: #0a0009;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

:root a {
  color: black;
}

body {
  /* Margin pour pas être en dessous de la barre de navigation */
}

body main {
  margin-top: 10vh;
  /* Taille de chaque section */
}

body main .section {
  min-height: 100vh;
}

body main .Landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 5vh 10vw;
}

body main .Landing .title {
  height: 55vh;
  width: 45vw;
  padding: 2vh 4vw;
}

body main .Landing .title h1 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin: 0;
}

body main .exposition, body main .project {
  width: 90vw;
  margin: 2vh 1vw;
  padding: 2vh 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body main .exposition .explanation, body main .project .explanation {
  width: 30vw;
  min-height: 30vh;
  max-height: 40vh;
  padding: 1vh;
  margin: 5vh 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body main .exposition .explanation .cartel, body main .project .explanation .cartel {
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  border-radius: 50px;
  background: #ffffff;
  -webkit-box-shadow: 41px 41px 82px #d9d9d9, -41px -41px 82px #ffffff;
          box-shadow: 41px 41px 82px #d9d9d9, -41px -41px 82px #ffffff;
  -webkit-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
}

body main .exposition .explanation .cartel h2, body main .project .explanation .cartel h2 {
  font-size: 2rem;
  letter-spacing: 0.15vw;
  margin: 1vh;
}

body main .exposition .explanation .cartel p, body main .project .explanation .cartel p {
  margin: 2vh 2vw;
  font-weight: 500;
  text-align: justify;
}

body main .exposition .img, body main .project .img {
  margin-top: 12vh;
  height: 50vh;
  width: 50vw;
}

#navigation {
  width: 100%;
  min-height: 5vh;
  max-height: 10vh;
  padding: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: fixed;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  top: 0;
  /* Liste des liens */
}

#navigation h1 {
  width: 5vw;
  height: 2vh;
  margin: 2vh 2vw;
  letter-spacing: 8px;
  font-weight: 800;
}

#navigation h1::first-letter {
  color: #e47900;
}

#navigation .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  position: fixed;
  right: 0;
}

#navigation .nav-links li {
  margin: 2vh 2vw;
}

#navigation .nav-links li a {
  font-weight: 500;
}

/* Animation de la barre de navigation après 30px de scroll */
.anim-nav {
  z-index: 100;
  background: #0f2027;
  color: white;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.anim-nav .hamburger {
  color: white;
}

.anim-nav a {
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* a {
  text-decoration: none;
  -webkit-transition: 900ms ease-in-out;
  transition: 900ms ease-in-out;
}

* a:hover {
  color: #e47900;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

html {
  scroll-behavior: smooth;
  scroll-margin: 1vh;
}

.horizontal-img {
  height: 45vh;
  width: 45vw;
}
/*# sourceMappingURL=index.css.map */