@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
:root {
  font-size: 16px;
  --primary: rgb(221, 221, 221);
  --secondary: rgb(10, 0, 9);
  --third: rgb(228, 121, 0);
  color: var(--secondary);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  a{
    color: black;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
  }
}
html {
  scroll-behavior: smooth;
}
@media screen and (min-width:1200px){
body{
  #navigation{
    .nav-links{
      display: flex;
      flex-direction: row;
    }
    
  }
}
}
body {
  #navigation {
    width: 100vw;
    min-height: 5vh;
    max-height: 10vh;
    padding: 1vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    transition: 300ms ease-in-out;
    top: 0;
    
    h1 {
      width: 5vw;
      height: 2vh;
      margin: 2vh 2vw;
      letter-spacing: 8px;
      font-weight: 800;
      &::first-letter {
        color: var(--third);
      }
    }
    .nav-links {
      
      list-style: none;
      position: fixed;
      right: 0;
      li {
        margin: 2vh 2vw;
        a {
          font-weight: 500;
        }
      }
    }
  }
  main {
    margin-top: 10vh;
    .section {
      min-height: 100vh;
    }
    .exposition,.project {
        width: 90vw;
      margin: 2vh 1vw;
      padding: 2vh 2vw;
      display: flex;
      flex-direction: row ;
      .explanation {
        width: 30vw;
        min-height: 30vh;
        max-height: 40vh;
        padding: 1vh;
        margin: 5vh 1vw;
        display: flex;
        flex-direction: column;
        flex: 1;
        .cartel {
          margin: 1vh 1vw;
          padding: 1vh 1vw;
          border-radius: 50px;
          background: #ffffff;
          box-shadow: 41px 41px 82px #d9d9d9, -41px -41px 82px #ffffff;
          transition: 600ms ease-in-out;
          h2 {
            font-size: 2rem;
            letter-spacing: 0.15vw;
            margin: 1vh;
            span {
              color: var(--third);
            }
          }
          p {
            margin: 2vh 2vw;
            font-weight: 500;
            text-align: justify ;

          }
        }
      }
      .img {
        margin-top: 12vh;
        height: 50vh;
        width: 50vw;
        
      }
    }
   
  }
}
.anim-nav{
  z-index: 100;
  background: #0f2027;
    color: white;
    transition: 300ms ease-in-out;
    a{
      color: white;
    }
}
.burger{
  display: none;
}
.burger div{
  width: 25px;
  height: 3px ;
  background-color: black ;
  margin: 5px;
}
@media screen and (max-width:1200px) {
  nav {
    display: flex;
    flex-direction: row;
    .nav-links{
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: chartreuse;
width: 50%;
transform: translateX(100%);
li{
  opacity: 0;
}
    }
    .burger{
      display: block;
      position: absolute;
      top: 3vh;
      right: 5vw;
      cursor: pointer;
    }
  }
}
.nav-active{
  transform: translateX(0);
  li{
    opacity: 100;
  }
}

